<div class="profile-container">
<h1 class="text-center">Wait List Rankings</h1>
<h4><span class="underlined">How it works:</span></h4>
<h4>Citizen Debate will be inviting the first <b> 50 users </b> from the wait list for the upcoming beta launch, which is currently scheduled for <b>April 15th, 2016. </b> You are currently ranked number <b> <%= current_user.rank %> below.</b></h4>
<table class="col-lg-12 col-sm-12 waitlist-table">
  <thead>
    <tr>
      <th>ID </th>
      <th>Email </th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user && current_user.email == "bbensch@gmail.com" %>
<%= link_to 'New Profile', new_profile_path %>
<% end %>
</div>
