<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @charity_email.email %>
</p>

<%= link_to 'Edit', edit_charity_email_path(@charity_email) %> |
<%= link_to 'Back', charity_emails_path %>
