<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h3>Congrats!</h3>
  <p>
  A new civility vote has been recorded.
  </p>
</body>
</html>
