<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h3>Congrats!</h3>
  <p>
  A new user has clicked through to the voter-registration page.
  </p>
</body>
</html>
