<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h3>Congrats!</h3>
  <p>
  Someone new has just signed up!
  </p>
  <p>
    Their email address is: <%= @user.email %>
  </p>
</body>
</html>
