<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>
  Your Citizen Debate opponent has just proposed some times for your scheduled cross-examination round. Please login and confirm which the proposed time works for you.
  </p>

  <h4>  <%= link_to @debate.title, schedule_debate_path(@debate) %> </h4>

  <ul>
    <li>
      <b> Affirmative: </b> <%=@debate.affirmative_debater.user.profile.display_name%>
    </li>
    <li>
      <b> Negative: </b> <%=@debate.negative_debater.user.profile.display_name%>
    </li>
  </ul>

</body>
</html>
