<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h3>Congrats!</h3>
  <p>
  A new user has clicked through to checkout the debate preview for the debate below.
  </p>
  <h3>Resolved:<b> <%= link_to @debate.title, debate_path(@debate) %> </h3>

</body>
</html>
