
<% if current_user %>
  <div class="page-header">
    <h1>Join the discussion!</h1>
  </div>

  <%= render 'form' %>
  <div class="panel panel-default" id="comments">
    <div class="panel-body">
      <ul class="media-list">
        <!-- %= render @comments %> -->
        <%= render partial: 'messages/message', collection: @messages %>
      </ul>
    </div>
  </div>
<% else %>
    <h1>You must first be sure to be logged in!</h1>
<% end %>
