    <section class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-container">
                        <h1 class="intro-message"> A Debate for Good</h1>
                        <h2 class="example-prompts">
                          <div id="activityCarousel" class=" slide" data-ride="carousel" data-interval="5000">
                            <div class="carousel-inner" role="listbox">
                              <div class="item active">
                                  <span>Will Donald Trump be able to unify the Republican Party?</span><br>
                                </div>
                              <div class="item">
                                  <span>Should the Senate hold confirmation hearings for SCOTUS nominee Merrick Garland?</span><br>
                              </div>
                              <div class="item">
                                  <span>Should the US build a wall along the Mexican border?</span><br>
                              </div>
                              <div class="item">
                                  <span>Would raising the minimum wage to $15 improve the US economy?</span><br>
                              </div>
                              <div class="item">
                                  <span>Is the affordable care act harmful to small businesses?</span><br>
                              </div>
                              <div class="item">
                                  <span>Can gun safety legislation reduce the likelihood of the next mass shooting?</span><br>
                              </div>
                              <div class="item">
                                  <span> Is the NAFTA free trade agreement been harmful to the US employment?</span><br>
                              </div>
                            </div>
                          </div>
                        </h2>
                        <div class="hero-image">
                            <img src="assets/charity_debate_header2.svg" alt="matchup" class="img-responsive charity_header">
                        </div>
                        <h1 class="intro-tagline"> They debate. You Decide. Up to $10,000 to the winner's charity charity.</h1>
                        <h4 class="center underline">Potential beneficiaries</h4>
                        <ul>
                            <li class="list-inline"><a href="https://www.donorschoose.org/" class="charity-links">Donors Choose </a> - Support a Classroom. Build a Future</li>
                            <li class="list-inline"><a href="http://www.habitat.org/" class="charity-links">Habitat for Humanity</a> - Changing Lives with Homes</li>
                        </ul>
                       <!--  <h3 class=""> <a href="https://www.hfotusa.org/" class="">Homes for our Troops</a> - helping our nations veterans rebuild their lives.</h3>
                        --> <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <% if current_user %>
                                    <!-- <a href="/debates" class="btn btn-default btn-success btn-lg" > Join the Debate</a> -->
                                    <a href="#" class="btn btn-default btn-lg btn-success" data-toggle="modal" data-target="#loginModal">Support the Kickstarter to Make it Happen</a>
                                <% else %>
                                    <a href="#" class="btn btn-default btn-lg btn-success" data-toggle="modal" data-target="#loginModal">Support the Crowdwise campaign</a>
                                <% end %>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
<!-- /.intro-header -->
    </section>
    <section class="">
        <!-- <div class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <h2 class="section-heading">The American political system is (nearly) broken</h2>
                        <div class="lead">
                            <ul>
                                <li "full-page-bullets">The congressional approval rate has remained below 20% since 2011.<sup>1</sup></li>
                                <li "full-page-bullets">Pew Research suggests that ideological extremism has doubled over the past two decades.<sup>2</sup></li>
                                <li "full-page-bullets">The fragmentation of the modern media (cable news, social media, etc.) has narrowed the average American’s exposure to a full breadth of political ideas.<sup>3</sup></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/citizen-debate/static_images/PEW-polarization.gif" alt="polarized politics">
                    </div>
                    <div class="citations">
                        <p>1 - Gallup. <a href="http://www.gallup.com/poll/1600/congress-public.aspx"> www.gallup.com/poll/1600/congress-public.aspx </a> </p>
                        <p>2 - Pew Research Center. <a href="http://www.pewresearch.org/fact-tank/2014/06/12/7-things-to-know-about-polarization-in-america/"> http://www.pewresearch.org/fact-tank/2014/06/12/7-things-to-know-about-polarization-in-america/ </a></p>
                        <p>3 - Pew Research Center. <a href="http://www.journalism.org/2014/10/21/political-polarization-media-habits/"> www.journalism.org/2014/10/21/political-polarization-media-habits/ </a></p>
                    </div>
                </div>
            </div>
        </div> -->

    </section>
<!--     <section class="">
        <div class="content-section-b">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6  col-sm-6">
                        <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/citizen-debate/static_images/CD-checks_and_balances.png" alt="checks-and-balances">
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <h2 class="section-heading">Technology <b> can and should </b> bring people together</h2>
                        <div class="lead">
                            <ul>
                                <li "full-page-bullets">Traditional social media channels are unfortunately not conducive to discussing politics.
                                </li>
                                <li>With our proprietary system of <b> checks and balances</b>, we empower users to engage in civilized, solution-oriented debates that move beyond partisanship in search of common ground.
                                </li>
                                <li>From social issues to tax policy, Citizen Debate is the premier platform for engaging in constructive conversation about the topics <b>you care about.</b></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- <section class=" section-buffer">
        <div class="container">
          <div class="row div-outline-debug">
            <div class="col-lg-6 col-sm-4 lead">
              <h4 class="section-heading section-sub-heading border-green text-left">
                Earn your reputation
              </h4 class="text-left">
              <h3 class="section-sub-heading text-left">
                The more you engage responsibly with the community, the more influence and exposure you gain.
              </h3>
              <ul class="text-left">
                <li>Debaters earn <b> one point </b> for every reader whom they persuade to change their vote.</li>
                <li>Each competitor also earns <b>up to 5 points</b> per debate for their civility.</li>
              </ul>
              <h3 class="section-sub-heading text-left">Most importantly, citizens can reward top debaters with a <b>"patriotism pledge"</b> to qualified debaters who've earned their support in at least 3 previous debates.  </h3>
              <ul class="text-left">
                <li>Each patriotism pledge is worth <b>100 points</b>.</li>
              </ul>
            </div>
            <div class="col-lg-5 col-lg-offset-1 div-outline-debug">
              <div class="in-control-tablet">
                <img class="img img-responsive" src="https://s3-us-west-2.amazonaws.com/citizen-debate/static_images/CD-reptuation.png" alt="reputation">
              </div>
              <div class="link-more text-left">
                <a class="btn btn-large btn-success bottom-cta" href="/users/sign_up">Get Started</a>
              </div>
            </div>
          </div>
        </div>
    </section> -->
