<div id="fullpage">
    <section class="vertical-scrolling intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Citizen Debate</h1>
                        <h2>Take the conversation beyond blue and red</h2>
                        <h3> <em> Fostering civilized political discourse since 2016</em></h3>
                        <hr class="intro-divider">
                        <!-- <script async="async" id="button_b95ce782-a07a-438c-a2d6-d80e306ba173" src="//www.paywithatweet.com/embeds/b95ce782-a07a-438c-a2d6-d80e306ba173" charset="utf-8"></script> -->
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="/users/sign_up" class="btn btn-default btn-hero"> Sign Up </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
<!-- /.intro-header -->
    </section>
    <section class="vertical-scrolling">
        <div class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="citations">
                        <p>1 - Gallup. <a href="http://www.gallup.com/poll/1600/congress-public.aspx"> www.gallup.com/poll/1600/congress-public.aspx </a> </p>
                        <p>2 - Pew Research Center. <a href="http://www.pewresearch.org/fact-tank/2014/06/12/7-things-to-know-about-polarization-in-america/"> http://www.pewresearch.org/fact-tank/2014/06/12/7-things-to-know-about-polarization-in-america/ </a></p>
                        <p>3 - Pew Research Center. <a href="http://www.journalism.org/2014/10/21/political-polarization-media-habits/"> www.journalism.org/2014/10/21/political-polarization-media-habits/ </a></p>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <h2 class="section-heading">The American political system is (nearly) broken</h2>
                        <div class="lead">
                            <ul>
                                <li "full-page-bullets">The congressional approval rate has remained below 20% since 2011.<sup>1</sup></li>
                                <li "full-page-bullets">Pew Research suggests that ideological extremism has doubled over the past two decades.<sup>2</sup></li>
                                <li "full-page-bullets">The fragmentation of the modern media (cable news, social media, etc.) has narrowed the average American’s exposure to a full breadth of political ideas.<sup>3</sup></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/citizen-debate/static_images/PEW-polarization.gif" alt="">
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.content-section-a -->
    </section>
    <section class="vertical-scrolling">
        <div class="content-section-b">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6  col-sm-6">
                        <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/citizen-debate/static_images/CD-checks_and_balances.png" alt="">
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <h2 class="section-heading">Technology CAN (and should) bring people together</h2>
                        <div class="lead">
                            <ul>
                                <li "full-page-bullets">Traditional social media channels <!-- <i class="fa fa-twitter fa-fw"></i><i class="fa fa-facebook fa-fw"></i> <br> --> are unfortunately not conducive to discussing politics.
                                </li>
                                <li>With our proprietary system of <b> checks, balances and rewards</b>, we empower users to engage in civilized, solution-oriented debates that move beyond partisanship is search of common ground.
                                </li>
                                <li>From social issues to tax policy, Citizen Debate is the premier platform for engaging in constructive conversation about the topics <b>you care about.</b></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.content-section-b -->
    </section>
    <section class="vertical-scrolling section-buffer">
        <div class="container">
          <div class="row div-outline-debug">
            <div class="col-lg-5 col-sm-4 vh80 div-outline-debug">
              <h4 class="section-heading section-sub-heading border-green text-left">
                How a Citizen Debate Works
              </h4 class="text-left">
              <h3 class="section-sub-heading text-left">
                Imagine your high school debate class meets Reddit.
              </h3>
              <ul class="font-medium text-left">
                <li>Live head-to-head match ups.</li>
                <li>2 judges per debate, decisions must be unanimous.</li>
                <li>7 timed-rounds, lasting a total of 30 minutes.</li>
                <li>Textual and visual evidence permitted.</li>
                <li><b>Checks & Balances:</b> decisions may be overturned by a 75% super majority.<sup>*</sup></li>
              </ul>
              <div class="link-more text-left">
                <a class="btn btn-default" href="/faqs">*Read FAQs <svg class="icon-arrow-more"
                enable-background="new 0 0 32 32" height="14px" version="1.1" viewbox="0 0 32 32"
                width="14px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
                <path d=
                "M16,0C7.2,0,0,7.2,0,16s7.2,16,16,16c8.8,0,16-7.2,16-16S24.8,0,16,0 M16,25.7L14.3,24l6.8-6.8H7v-2.4h14.1L14.3,8L16,6.3 l9.7,9.7L16,25.7z">
                </path></svg></a>
              </div>
            </div>
            <div class="col-lg-6 col-lg-offset-1 vh80 div-outline-debug">
              <div class="in-control-tablet">
                <img class="img img-responsive" src="https://s3-us-west-2.amazonaws.com/citizen-debate/static_images/CD-debate_format.png">
              </div>
            </div>
          </div>
        </div>
    </section>
    <section class="vertical-scrolling section-buffer">
        <div class="container">
          <div class="row div-outline-debug">
            <div class="col-lg-5 col-sm-4 vh80 div-outline-debug">
              <h4 class="section-heading section-sub-heading border-green text-left">
                Reputation Matters
              </h4 class="text-left">
              <h3 class="section-sub-heading text-left">
                The more you engage responsibly with the community, the more influence and exposure you gain.
              </h3>
              <ul class="font-medium text-left">
                <li>Debate winners earn <b>5 stars</b>.</li>
                <li>Win or lose, each competitor can earn <b>up to 5 stars</b> for their civility.</li>
                <li>Earn <b>3 stars</b> for serving as a judge.</li>
              </ul>
              <h3 class="section-sub-heading text-left">Most importantly, earn stars for persuading your fellow citizens: </h3>
              <ul class="font-medium text-left">
                <li>Each citizen can award <b>up to 10 stars</b> to effective debaters.</li>
              </ul>
              <div class="link-more text-left">
                <a class="btn btn-large btn-default bottom-cta" href="/users/sign_up">Get Started</a>
              </div>
            </div>
            <div class="col-lg-6 col-lg-offset-1 vh80 div-outline-debug">
              <div class="in-control-tablet">
                <img class="img img-responsive" src="https://s3-us-west-2.amazonaws.com/citizen-debate/static_images/CD-reptuation.png">
              </div>
            </div>
          </div>
        </div>
    </section>
