<div id="fullpage">
    <section class="vertical-scrolling intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Citizen Debate</h1>
                        <h2>A 21st century take on the age-old tradition of one-on-one debate.</h2>
                        <h3> <em> Fostering civilized political discourse since 2016.</em></h3>
                        <hr class="intro-divider">
                        <!-- <script async="async" id="button_b95ce782-a07a-438c-a2d6-d80e306ba173" src="//www.paywithatweet.com/embeds/b95ce782-a07a-438c-a2d6-d80e306ba173" charset="utf-8"></script> -->
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="#" class="btn btn-default btn-hero">
                                 Sign Up Today
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
        <!-- /.intro-header -->
    </section>
    <section class="vertical-scrolling">
        <!-- Page Content -->
        <div class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <h2 class="section-heading">The American political system is (nearly) broken.</h2>
                        <div class="lead">
                            <ul>
                                <li "full-page-bullets">The congressional approval rate has remained below 20% since 2011.<sup>1</sup></li>
                                <li "full-page-bullets">Pew Research suggests that ideological extremism has doubled over the past two decades.<sup>2</sup></li>
                                <li "full-page-bullets">The fragmentation of the modern media (cable news, social media, etc.) has narrowed the average American’s exposure to a full breadth of political ideas.<sup>3</sup></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <img class="img-responsive vertical-middle" src="https://s3-us-west-2.amazonaws.com/citizen-debate/static_images/PEW-polarization.gif" alt="">
                    </div>
                    <div class="citations">
                        <p>1 - Gallup. <a href="http://www.gallup.com/poll/1600/congress-public.aspx"> www.gallup.com/poll/1600/congress-public.aspx </a> </p>
                        <p>2 - Pew Research Center. <a href="http://www.pewresearch.org/fact-tank/2014/06/12/7-things-to-know-about-polarization-in-america/"> http://www.pewresearch.org/fact-tank/2014/06/12/7-things-to-know-about-polarization-in-america/ </a></p>
                        <p>3 - Pew Research Center. <a href="http://www.journalism.org/2014/10/21/political-polarization-media-habits/"> www.journalism.org/2014/10/21/political-polarization-media-habits/ </a></p>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.content-section-a -->
    </section>
    <section class="vertical-scrolling">
        <div class="content-section-b">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6  col-sm-6">
                        <img class="img-responsive vertical-middle" src="https://s3-us-west-2.amazonaws.com/citizen-debate/static_images/CD-typical-forum.png" alt="">
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <h2 class="section-heading">Online political forums today are terrible.</h2>
                        <div class="lead">
                            <ul>
                                <li>Many still look and feel like the Internet of the '90s.</li>
                                <li>Platforms today lack a cohesive structure of checks and balances. We strive to balance the openness of the public Internet with appropriate checks to ensure civility and productive discourse. </li>
                                <li "full-page-bullets">Traditional social media channels <i class="fa fa-twitter fa-fw"></i><i class="fa fa-facebook fa-fw"></i> <br> suffer from the perverse incentives that reward outrageous and provocative comments with more shares, more comments, and more trolls.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.content-section-b -->
    </section>
    <section class="vertical-scrolling">
        <div class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-sm-6">
                        <h2 class="section-heading">How Citizen Debate Works</h2>
                        <h3> <em>Citizen Debate is like if your Lincoln-Douglas high school debate team had a baby with Reddit. </em></h3>
                        <p class="lead">The more you engage responsibly with the community, the more influence and exposure you gain within the community.</p>
                        <div class="lead">
                            <ul>
                                <li "full-page-bullets text-smaller">Each debate has 3 participants - the affirmative, the negative, and the judge.</li>
                                <li "full-page-bullets text-smaller">Each debate starts at a scheduled time. Choose to debate in private, or debate in public and invite a crowd.</li>
                                <li "full-page-bullets text-smaller">Each debate consists of six rounds over the course of an hour (additional details here).</li>
                                <li "full-page-bullets text-smaller">Reputation points are awarded based on not only the quality of arguments presented, but also on the manner in which they are presented.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5 col-sm-6">
                        <img class="img-responsive vertical-middle" src="https://s3-us-west-2.amazonaws.com/citizen-debate/static_images/CD-hipster-wallstreet.png" alt="">
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.content-section-a -->
    </section>
<!-- HOW IT WORKS start -->
    <section class="vertical-scrolling">
        <div class="content-section-b">
            <div class="container cl-b">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="feature_header text-center">
                                <h2 class="section-heading text-left"> <b>How it actually works</b></h2>
                                <h3 class="lead">
                                At Citizen Debate, we're cultivating a diverse and representative community of passionate citizens. We are firm believers in the wisdom of crowds, and have designed a revolutionary model of community self-governance based on <strong> reputation</strong>.
                                </h3>
                                <div class="divider"></div>
                    <hr>
                                <h3 class="section-heading">What does that actually mean?</h3>
                                <p class="lead text-left">
                                    Throughout your experience on Citizen Debate, you will have the opportunity to award reputation points to others for upholding the cultural values of the community. Likewise, the community will reward you for your own contributions.
                                </p>
                                <button class="btn btn-large btn-main"><a class="" href="quotes/new">  Learn more about reputation points</a> </button>
                            </div>
                        </div>  <!-- Col-md-12 End -->
                    </div>
                    <div class="row">
                        <div class="main_feature text-center">
                            <div class="col-md-3 col-xs-12 col-sm-6">
                                    <div class="feature_content steps-box">
                                        <!-- <i class="fa fa-lightbulb-o"></i> -->
                                        <h2>Step 1<br>
                                        <span class="feature_steps"> Create your profile </span> </h2>
                                        <p>
                                        Your profile consists of public-facing elements such as your avatar, bio, and home state. It also contains private information such as your age and political affiliation.
                                        </p>
                                        <div class="btn-bottom">
                                            <button class="btn btn-main"><a class="how-button" href="/profile">  Set up your profile</a> </button>
                                        </div>
                                    </div>
                                </div>
                            <div class="col-md-3 col-xs-12 col-sm-6">
                                    <div class="feature_content steps-box">
                                        <!-- <i class="fa fa-pencil"></i> -->
                                        <h2>Step 2<br>
                                        <span class="feature_steps"> Initiate a new debate </span> </h2>
                                        <p>Select a debate topic you are passionate about, <b> choose your side</b>, and propose three start-times that you are available. </p>
                                        <div class="btn-bottom">
                                            <button class="btn btn-main" ><a class="how-button" href="#topics"> Browse Debate Topics </a> </button>
                                        </div>
                                    </div>
                            </div> <!-- Col-md-4 Single_feature End -->
                            <div class="col-md-3 col-xs-12 col-sm-6">
                                    <div class="feature_content steps-box">
                                        <!-- <i class="fa fa-cog"></i> -->
                                        <h2>Step 3<br>
                                        <span class="feature_steps"> Match with an Opponent and Judge </span> </h2>
                                        <p>The matching system will invite qualified opponents and nominate a judge for your debate. Once matched, all parties must confirm the debate time. </p>
                                        <div class="btn-bottom">
                                            <button class="btn btn-main"> <a class="how-button" href="#pricing"> How Judging Works </a> </button>
                                        </div>
                                    </div>
                            </div> <!-- Col-md-4 Single_feature End -->
                            <div class="col-md-3 col-xs-12 col-sm-6">
                                    <div class="feature_content steps-box">
                                        <!-- <i class="fa fa-desktop"></i> -->
                                        <h2>Step 4<br>
                                        <span class="feature_steps"> Debate! </span> </h2>
                                        <p>Present your arguments to the best of your abilities. At the conclusion, the judge will announce the winner, and both participants will assess the civility of their opponent.</p>
                                        <div class="btn-bottom">
                                            <button class="btn btn-main"> <a class="how-button" href="#faqs"> Get Started </a> </button>
                                        </div>
                                    </div>
                            </div> <!-- Col-md-4 Single_feature End -->
                            <!-- <button class="btn btn-main"> Read More</button> -->
                        </div>
                </div>  <!-- Row End -->
            </div>  <!-- Container End -->
        </div>
    </section>
<!-- HOW IT WORKS End -->

<!-- Pricing Table Start -->
<!--     <section class="vertical-scrolling">
        <div id="pricing" class="pricing_overlay content-section-a">
                    <div class="vertical_space cl-b"> </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="feature_header text-center">
                            <h3 class="feature_title">Our <b>Pricing</b></h3>
                            <h4 class="feature_sub text-center">Like most products today, you can pay for premium, or be cheap and get by with the free minimum value. We're here to help every step of the way, in the manner that best fits your needs.</h4>
                            <div class="divider"></div>
                        </div>
                    </div>

                    <div class="text-center pricing">
                        <div class="col-md-4 col-xs-12 col-sm-12">
                            <div class="single_table">
                            <div class="plan_wrapper"></div>
                                <ul>
                                    <li class="plan">Do it yourself<br><span>one-time-fee</span></li>
                                    <li class="price"> Free </li>
                                    <li> Free XZY experience</li>
                                    <li> Basic feature #1</li>
                                    <li> <span class="text-red"> No optional bonus </span></li>
                                    <li> <span class="text-red"> No advanced feature </span></li>
                                    <li class="price_button"> <button class="btn btn-main featured"><a href="mailto:bbensch@gmail.com?subject=My%20NEW%20LEAD&body=Hello,%0A%0AI%20just%20signed%20up%for%20XYZ%20." target="_blank" > Sign Up Now!</a></button></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 col-sm-12">
                            <div class="single_table grey_bg  ">
                                <div class="plan_wrapper"></div>
                                <ul>
                                    <li class="plan">Standard  <br><span></span></li>
                                    <li class="price"> $9.99 <span> per month</span></li>
                                    <li> Unlimited access to core features</li>
                                    <li> Free email support</li>
                                    <li> <span class="text-green"> Weekly newsletter </span></li>
                                    <li> <span class="text-green"> Another feature </span></li>
                                    <li> A final slightly more complicated version.</li>
                                    <li class="price_button"> <button class="btn btn-main featured"><a href="mailto:bbensch@gmail.com?subject=My%20NEW%20LEAD&body=Hello,%0A%0AI%20just%20signed%20up%for%20XYZ%20." target="_blank" > Sign Up Now!</a></button></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 col-sm-12">
                            <div class="single_table dark_bg">
                                <div class="plan_wrapper"></div>
                                <ul>
                                    <li class="plan">Premium <br><span></span></li>
                                    <li class="price"> $19.99 <span>per month  </span></li>
                                    <li> Unlimited access to all features</li>
                                    <li> Dedicated account management support</li>
                                    <li> <span class="text-green"> <strong> Early access to beta-features </strong></span></li>
                                    <li> Bonus content every week</li>
                                    <li> Another compelling premium feature</li>
                                    <li class="price_button"> <button class="btn btn-main featured"><a href="mailto:bbensch@gmail.com?subject=My%20NEW%20LEAD&body=Hello,%0A%0AI%20just%20signed%20up%for%20XYZ%20." target="_blank" > Sign Up Now!</a></button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
<!-- Pricing Section End -->
<!-- ABOUT US SECTION -->
<!--     <section class="vertical-scrolling">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-6">
                    <h2 class="section-heading">A new about us section</h2>
                    <p class="slide-text-content">
                      At COMPANY NAME our mission is to <b> make your life beter</b>. In April 2016 we are launching <span class="highlight_green"> COMPANY NAME Product </span> as the first of an evolving suite of products. Over the course of 2016 and beyond, we plan on launching additional products that will further our long-term ambition of making all lives better.
                    </p>
                    <p>
                        Civility as we pursue it is the ability to disagree productively with others, respecting their sincerity and decency. By civility we do NOT mean agreement. We think citizens are well served when political parties represent different viewpoints and then compete vigorously to recruit voters to their side.
                        <a href="http://www.civilpolitics.org/home/"> http://www.civilpolitics.org/home/ </a>
                    </p>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <img class="img-responsive" src="http://prmgsecurity.com/wp-content/uploads/2013/01/social-media-social-graphing-employee-background-screening.jpg" alt="">
                </div>
            </div>
        </div>
    </section> -->
<!-- ABOUT US End -->
    <section class="vertical-scrolling">
        <!-- FAQs Start -->
        <div id="faqs" class="content-section-a">
            <div class="vertical_space cl-b"> </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="feature_header text-center">
                            <h3 class="section-heading">Frequently Asked <b> Questions</b></h3>
                            <h4 class="lead"> Can't find what you're looking for? Please simply send your question by email to <a href="mailto:citizen.debate.16@gmail.com" target="_blank"> citizen.debate.16@gmail.com </a> </h4>

                            <div class="post_img text-left">
                                <h5 class="section-heading"> <span class="faq-q">Q:</span>
                                    Question # 1 - I don't get it?
                                </h5>
                                <h5 class="faq-answer"> <span class="faq-a">A:</span>
                                    Read the info above first.
                                </h5>
                                <p class="faq-text">Okay now I'll explain it here. </p>
                            </div>
                            <div class="post_img text-left">
                                <h5 class="section-heading"> <span class="faq-q">Q:</span>
                                    Will it work on this device?
                                </h5>
                                <h5 class="faq-answer"> <span class="faq-a">A:</span>
                                    Yes, most likely.
                                </h5>
                                <p class="faq-text">
                                    We are currently available on iOS and Android devices only. If you have a Windows phone, I'm sorry for you.
                                </p>
                            </div>
                        <div class="post_img text-left">
                                <h5 class="section-heading"> <span class="faq-q">Q:</span>
                                    Does this actually make the problem better?
                                </h5>
                                <h5 class="faq-answer"> <span class="faq-a">A:</span>
                                    We think so, but you be the judge.
                                </h5>
                                <p class="faq-text">
                                    We have a 100% customer satisfaction guarantee. If at any time you feel that you are having a bad time, let us know, and we'll make it better.
                                    <ul>
                                        <li class="faq-list" >
                                        - Way to make it better #1 </li>
                                        <li class="faq-list">
                                        - Way to make it better #2</li>
                                        <li class="faq-list">
                                        - Way to make it better #3.</li>
                                        <li class="faq-list">
                                        - Way to make it better #4
                                        </li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div> <!-- blog Timeline End -->
                </div>
            </div>
        </div>
        <!-- FAQS End -->
    </section>
    <section class="vertical-scrolling">
        <h1>Help us spread the word!</h1>
            <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect with us online:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/bbensch" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/bbensch09" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/bbensch09" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
