<div id="fullpage">
  <section class="vertical-scrolling">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-6">
                    <h2 class="section-heading">Ready to start debating?</h2>
                    <p class="slide-text-content">
                      We're excited too! Unfortunately, we have to ask you for your patience. We are busily preparing for our upcoming beta launch on April 1st, 2016.
                      <br> <br> However, in order to ensure that Citizen Debate remains the best place for civil political discourse, we won't be opening the flood gates right away. At launch we'll be inviting the first 50 debaters onto the platform.
                      <% if current_user %>
                        You are currently number <span class="rank"> <%= current_user.rank %> </span> on our waiting list.
                      <% end %>
                    </p>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <img class="mac-frame" src="https://s3-us-west-2.amazonaws.com/citizen-debate/static_images/imac_frame.png">
                    <div class="inner-image-div">
                    <img class="behind-frame" src="https://media4.giphy.com/media/fQZX2aoRC1Tqw/200.gif" alt="">
                    </div>
                </div>
            </div>
        </div>
      <div class="scroll-icon">
        <p>How to bump your spot in line
          <!-- <a href="#fifthSection/1" > </a>-->
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </p>
      </div>
  </section>

  <section class="vertical-scrolling">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/citizen-debate/static_images/CD-example-profile-bernie.png" alt="">
                </div>
                <div class="col-lg-7 col-sm-6">
                    <h2 class="section-heading">Complete your profile</h2>
                    <p class="slide-text-content">
                       If you're really excited to be one of our first Citizen Debate users, you can boost your ranking on the wait list simply by completing your full profile, which includes selecting an avatar and sharing a brief bio. By completing your profile, you'll earn 10 <a href="#thirdSection" class="inline-link">reputation points</a>.
                    </p>
                    <h2><a href="/profiles/new" class="btn btn-default btn-large">Setup profile</a></h2>
                </div>
            </div>
        </div>
  </section>

  <section class="vertical-scrolling">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-6">
                    <h2 class="section-heading">What are reputation points?</h2>
                    <h3>Reputation points reward you for your civility and active engagement with the community.</h3>
                    <p class="slide-text-content">
                      Earning reputation points helps you "climb the ladder" and secure your spot as one of the first Citizen Debaters.
                      <ul>
                        <li> Complete your profile: 10 reputation points </li>
                        <li> Propose a debate prompt: 5 reputation points </li>
                        <li> Invite up to 5 friends: 15 reputation points </li>
                      </ul>
                    </p>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/citizen-debate/static_images/CD-climb-the-ladder.png" alt="">
                </div>
            </div>
        </div>
  </section>
  <section class="vertical-scrolling">
    <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6 example-prompt-container">
                  <h1 class="debate-resolution"> DEBATE RESOLUTION: </h1>
                    <h2 class="example-prompts">
                <div id="activityCarousel" class=" slide" data-ride="carousel" data-interval="3000">
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <div class="">
                        <span>The Senate should hold confirmation hearings for Merrick Garland.</span>
                      </div>
                    </div>
                    <div class="item">
                      <div class="">
                        <span>Apple should build a software update to allow FBI access to suspects' iPhones.</span>
                      </div>
                    </div>
                    <div class="item">
                      <div class="">
                        <span>The US should build a wall along the Mexican border.</span>
                      </div>
                    </div>
                    <div class="item">
                      <div class="">
                        <span>The US should increase the minimum wage to $15.</span>
                      </div>
                    </div>
                    <div class="item">
                      <div class="">
                        <span>Background checks should be required in order to purchase a gun.</span>
                      </div>
                    </div>
                    <div class="item">
                      <div class="">
                        <span>Abortion should be illegal.</span>
                      </div>
                    </div>
                    <div class="item">
                      <div class="">
                        <span>Free trade is harmful to the creation of jobs in the US.</span>
                      </div>
                    </div>
                  </div>
                </div>
                <a href="/topics" class="btn btn-default"> You decide </a>
              </h2>
                </div>
                <div class="col-lg-7 col-sm-6">
                    <h2 class="section-heading">Vote on popular debate prompts</h2>
                    <p class="slide-text-content">
                       TEXT ABOUT INSERTING A NEW TOPIC
                    </p>
                    <h2><a href="#" class="btn btn-default btn-large">Submit your own topic</a></h2>
                </div>
            </div>
        </div>
  </section>
  <section class="vertical-scrolling">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-6">
                    <h2 class="section-heading">Invite your friends</h2>
                    <p class="slide-text-content">
                      INSERT EMAIL CAPTURE FORM
                      *caveat that points will be awarded only if friends actually signup, 3 points per friend
                    </p>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/citizen-debate/static_images/CD-share.png" alt="">
                </div>
            </div>
        </div>
  </section>
</div>
<!-- LOAD FULLPAGE JS ONLY ON THIS PAGE -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.min.js"></script>
 -->
