<div id="fullpage">
  <section class="vertical-scrolling">
    <h2>fullPage.js</h2>
    <h3>This is the first section</h3>
    <h1>Thanks for signing up!</h1>
      <p>
        Citizen Debate is preparing for our public beta launch on April 1st, 2016. As of TODAY'S DATE, you are number XX on the wait list. We'll be inviting the first 20 people onto the platform on April 1st, and then over the coming weeks will be inviting additional cohorts. If you're really excited to use Citizen Debate, please take a few actions to complete your profile, and we'll bump you up on the waitlist.
      </p>
        <h2><a href="/profiles/new">Complete your profile</a></h2>
    <div class="scroll-icon">
      <p>Begin scrolling to jump to the next slide</p>
      <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"> Glyhpicon down icon</span>
      <a href="#fifthSection/1">
        <i class="fa fa-chevron-down"> FA down icon here </i>
      </a> <!-- class="icon-up-open-big" -->
    </div>
  </section>
  <section class="vertical-scrolling">
    <h2>fullPage.js</h2>
    <h3>This is the second section</h3>
  </section>
  <section class="vertical-scrolling">
    <h2>fullPage.js</h2>
    <h3>This is the third section</h3>
  </section>
  <section class="vertical-scrolling">
    <h2>fullPage.js</h2>
    <h3>This is the fourth section</h3>
  </section>
  <section class="vertical-scrolling">
    <div class="horizontal-scrolling">
      <h2>fullPage.js</h2>
      <h3>This is the fifth section and it contains the first slide (actually section == first slide)</h3>
    </div>
    <div class="horizontal-scrolling">
      <h2>fullPage.js</h2>
      <h3>This is the second slide</h3>
      <p class="end">Thank you!</p>
    </div>
  </section>
</div>
