<div id="fullpage">
  <section class="vertical-scrolling">
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <h2 class="section-heading">Ready to start debating?</h2>
                    <p class="slide-text-content">
                      We're excited too! Unfortunately, we have to ask you for your patience. We are busily preparing for our upcoming launch on <b>April 1st, 2016</b>.
                      <br> <br> In order to ensure that Citizen Debate remains the premier online destination for civil political discourse, our first users will join us as part of the <b>Early Adopter Program</b>. At launch we'll be inviting just 20 debaters onto the platform.
                      <% if current_user %>
                        <br> <br>You are currently number <span class="rank"> <%= current_user.rank %> </span> on our <a href="/profiles" class="inline-link">wait list</a>
                      <% end %>
                    </p>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <img class=" img-top-padding mac-frame " src="https://s3-us-west-2.amazonaws.com/citizen-debate/static_images/imac_frame.png">
                    <div class="inner-image-div">
                      <img class="img-top-padding behind-frame" src="https://media4.giphy.com/media/fQZX2aoRC1Tqw/200.gif" alt="">
                    </div>
                </div>
            </div> <!-- end row -->
          </div> <!-- end container -->
        </div> <!-- end content-section a -->
      <div class="scroll-icon">
        <p>How to bump your spot in line
          <!-- <a href="#fifthSection/1" > </a>-->
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </p>
      </div>
  </section>

  <section class="vertical-scrolling">
      <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <img class="img-responsive img-top-padding" src="https://s3-us-west-2.amazonaws.com/citizen-debate/static_images/CD-example-profile-bernie.png" alt="">
                </div>
                <div class="col-lg-7 col-sm-6">
                    <h2 class="section-heading">Step 1: Complete your profile</h2>
                    <p class="slide-text-content">
                       The first thing you can do to boost your ranking on the wait list and improve your chances of being selected for the <b> early adopter program </b> is to complete your full profile. Once complete, we will verify your identity by sending you a secure message via LinkedIn. Plase note that your public visible profile will always remain anonymous.
                     </p>
                     <div class="lead">
                       <ul>
                          <li class="full-page-bullets"> Earn 10 <a href="/reputation" class="inline-link">reputation points</a> for completing your full profile, including an avatar and brief bio.</li>
                          <li class="full-page-bullets"> Earn an additional 10 <a href="/reputation" class="inline-link">reputation points</a> for verifying your identity via LinkedIn.</li>
                        </ul>
                      </div>
                    <h2><a href="/profiles/new" class="btn btn-default btn-large">Setup profile</a></h2>
                </div>
            </div> <!-- end row -->
          </div> <!-- end container -->
        </div> <!-- end content-section a -->
  </section>

  <section class="vertical-scrolling">
      <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-6">
                    <h2 class="section-heading">Step 2: Share your feedback</h2>
                    <p class="slide-text-content">
                       When creating your profile, you have the option to provide both quantitative and qualitative feedback about the platform. As an early adopter, your feedback is crucial to us as we prepare for a public launch.
                     </p>
                     <div class="lead">
                       <ul>
                          <li class="full-page-bullets"> Earn <b> 5 points </b> for answering the quantitative feedback questions.</li>
                          <li class="full-page-bullets"> Earn an <b> additional 10 points </b> for providing qualitative feedback. Additionally, if you encounter any bugs or vulnerabilities, please feel free to email us directly at <a href="mailto:citizen.debate.16@gmail.com">citizen.debate.16@gmail.com</a>.</li>
                        </ul>
                      </div>
                    <h4><a href="/profiles/new" class="btn btn-default">Enter feedback</a></h4>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <img class="img-responsive img-top-padding" src="https://docs.google.com/drawings/d/1H0OYak-rRtLWdkRbhdGTfAT7fNUeiXJM3emkO0K8QNE/pub?w=796&h=659" alt="">
                </div>
            </div> <!-- end row -->
          </div> <!-- end container -->
        </div> <!-- end content-section a -->
  </section>
  <section class="vertical-scrolling">
    <div class="content-section-a">
      <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <div class="debate-topics-slider">
                    <!-- INSERT SLIDER -->
                    <h2 class="example-prompts">
                      <div id="activityCarousel" class=" slide" data-ride="carousel" data-interval="3000">
                        <div class="carousel-inner" role="listbox">
                          <div class="item active">
                              <span>The Senate should hold confirmation hearings for Merrick Garland.</span><br>
                                <a href="/topics" class="btn btn-default btn-vote"> Vote Now </a>
                          </div>
                          <div class="item">
                              <span>Apple should build a software update to allow FBI access to suspects' iPhones.</span><br>
                              <a href="/topics" class="btn btn-default btn-vote"> Vote Now </a>
                          </div>
                          <div class="item">
                              <span>The US should build a wall along the Mexican border.</span><br>
                              <a href="/topics" class="btn btn-default btn-vote"> Vote Now </a>
                          </div>
                          <div class="item">
                              <span>The US should increase the minimum wage to $15.</span><br>
                              <a href="/topics" class="btn btn-default btn-vote"> Vote Now </a>
                          </div>
                          <div class="item">
                              <span>Background checks should be required in order to purchase a gun.</span><br>
                              <a href="/topics" class="btn btn-default btn-vote"> Vote Now </a>
                          </div>
                          <div class="item">
                              <span>Abortion should be illegal.</span><br>
                              <a href="/topics" class="btn btn-default btn-vote"> Vote Now </a>
                          </div>
                          <div class="item">
                              <span>Free trade is harmful to the creation of jobs in the US.</span><br>
                              <a href="/topics" class="btn btn-default btn-vote"> Vote Now </a>
                          </div>
                        </div>
                      </div>
                    </h2>
                    <!-- END INNER SLIDER -->
                </div> <!-- END DEBATE TOICS SLIDER SHELL -->
                    <div class="inner-image-div">
                      <img class="ipad-frame img img-responsive" src="https://docs.google.com/drawings/d/1jR2Rx_EKmYsWyj3M5nGZz3Jzd9HeRjslSjn0RauAPKg/pub?w=796&h=659" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <h2 class="section-heading">Step 3: Browse debate topics</h2>
                    <p class="slide-text-content">
                       During the Early Adopter Program, each user can submit up to two debate prompts, and can vote on previously submitted prompts. See what topics your fellow debaters have already proposed, and tell us what you are most passionate about.
                     </p>
                     <div class="lead">
                       <ul>
                          <li class="full-page-bullets"> Earn <b> 2 points </b> for each debate topic you submit.</li>
                        </ul>
                      </div>
                    <h4><a href="/topics/new" class="btn btn-default">Submit a new debate topic</a></h4>
                </div>
            </div> <!-- end row -->
          </div> <!-- end container -->
        </div> <!-- end content-section a -->
  </section>
  <section class="vertical-scrolling">
      <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-6">
                    <h2 class="section-heading">Invite your friends</h2>
                      <p class="slide-text-content">
                       Help us spread the word by sharing Citizen Debate on your favorite social network. We anticipate expanding the Early Adopter Program to a full public beta in advance of the Democratic and Republican conventions in July. Be sure to tag @citizen_debate in your post so we can be sure to credit your account with the appropriate reputation points.
                      </p>
                     <div class="lead">
                       <ul>
                          <li class="full-page-bullets"> Earn <b> 15 points </b> for public posting to either Facebook, Twitter, or Instagram <br><em>(one per account, please don't spam your friends multiple times)</em>.</li>
                          <li class="full-page-bullets"> Earn <b> ONE MILLION POINTS </b> for posting to Google+. <br> <em> (Jokes. We'll still give you  15 points, but let's focus on what matters.) </em></li>
                        </ul>
                      </div>
                    <h4><a href="/profiles/new" class="btn btn-default">Enter feedback</a></h4>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <img class="img-responsive img-top-padding" src="https://s3-us-west-2.amazonaws.com/citizen-debate/static_images/CD-share.png" alt="">
                </div>
            </div> <!-- end row -->
          </div> <!-- end container -->
        </div> <!-- end content-section a -->
  </section>
</div>
