<% @current_round = @debate.rounds.last %>
  <%= form_for(@current_round, :html => {class:'inline-block'}) do |f| %>
  <div class="field hidden">
    <%= f.number_field :debate_id, value: @debate.id %>
    <%= f.text_field :status, value: "Completed" %>
  </div>
  <span class="">
    <%= f.submit "All finished", class: "btn btn-lg btn-success" %>
  </span>
  <% end %>
