<!-- THIS IS THE PARTIAL TO RENDER OPENING STATEMENTS -->
<li class="media comment">
  <div class="media-body">
    <h4 class="media-heading">
    <%= image_tag(@debate.affirmative_debater.user.profile.avatar.url(:thumb), alt: "image not found", class: "avatar-nav") %>
    Count of statements submitted: <%= @debate.opening_statements.count %>
      <small class="text-muted">
        posted some time ago<!-- %= message.time_since_written %> -->
      </small>
    </h4>
    <p><%= raw(@debate.opening_statements.count) %></p>
  </div>
</li>
