<div class="modal-header">
    <h3 className="large_center">Your public debate challenge has been posted!</h3>
</div>
<div class="modal-body">
  <h4>To find a challenger faster, copy your debate link below and share to social. </h4>
    <smaller> <a href=<%= "www.citizendebate.org/debates/#{@debate.to_param}" %> target="_blank"> <%= "www.citizendebate.org/debates/#{@debate.to_param}" %></a></smaller>
    <div class="center">
    <a href="https://www.facebook.com/sharer/sharer.php?sdk=joey&u=http%3A%2F%2Fwww.citizendebate.org%2F&display=popup&ref=plugin&src=share_button" class="btn btn-default btn-fb" target="_blank">
      <i class="fa fa-facebook fa-fw"></i> Post to Facebook
    </a>
    <a href="https://twitter.com/share" class="btn btn-default btn-twitter twitter-share-button" data-url=<%= "www.citizendebate.org/debates/#{@debate.to_param}" %> data-via="citizendebate16" data-size="large">
    <i class="fa fa-twitter fa-fw"></i>Tweet your Followers</a>
    </div>
</div>

