<!-- ABOUT US SECTION -->
    <section class="bg-light-gray section-buffer">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-sm-6">
                    <h2 class="section-heading">About Us</h2>
                    <p class="slide-text-content">
                      At Citizen Debate, our mission is to <b>empower citizens</b> by providing a platform for civil political discourse. In April 2016, we are launching <span class="highlight_green"> our Early Adopter Program </span> as the initial pilot. Many friends and advisors have told us it is impossible to build a online community that is passionate about politics and immune from the trolls and spammers of the Internet. Over the course of the next few months, we hope you will help us prove them wrong!
                    </p>
                    <h4>Our cultural values:</h4>
                    <p>
                        <b> Civility: </b> Civility as we pursue it is the ability to disagree productively with others, respecting their sincerity and decency. By civility we do NOT mean agreement. We think citizens are well served when political parties represent different viewpoints and then compete vigorously to recruit voters to their side.
                        <a href="http://www.civilpolitics.org/home/"> http://www.civilpolitics.org/home/ </a>
                    </p>
                    <p>
                        <b> Competition: </b> INSERT QUOTE ABOUT COMPETITION
                        <a href="http://www.civilpolitics.org/home/"> http://www.civilpolitics.org/home/ </a>
                    </p>
                    <p>
                        <b> Community: </b> INSERT QUOTE ABOUT COMMUNITY OF GIVERS, NOT TAKERS
                        <a href="http://www.civilpolitics.org/home/"> http://www.civilpolitics.org/home/ </a>
                    </p>
                </div>
                <div class="col-lg-5 col-sm-6">
                    <img class="img-responsive" src="http://prmgsecurity.com/wp-content/uploads/2013/01/social-media-social-graphing-employee-background-screening.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
<!-- ABOUT US End -->
