<!-- FAQs Start -->
    <section class="bg-light-gray">
        <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="feature_header text-center">
                            <h1 class="faq-title">Frequently Asked <b> Questions</b></h1>
                            <h4 class="lead text-center"> Can't find what you're looking for? Please simply send your question by email to <a href="mailto:citizen.debate.16@gmail.com" target="_blank"> citizen.debate.16@gmail.com </a> </h4>
                            <div class="list of questions text-left">
                            <hr>
                                <h4>Click to jump directly to any of the questions below.</h4>
                                <ul>
                                    <li><a href="#anti-spam">The Internet is full of spam. How will this site be any different?</a></li>
                                    <li><a href="#reputation">What are reputation points?    </a></li>
                                    <li><a href="#civility">How is civility defined and determined?   </a></li>
                                    <li><a href="#fairness">How will the platform ensure fair and objective results?</a></li>
                                    <li><a href="#debate-logistics">Can you tell me more about the debate logistics?</a></li>
                                </ul>
                                <hr>
                            </div>
                            <div class="post_img text-left">
                                <h5 id="anti-spam"class="faq-question"> <span class="faq-q">Q:</span>
                                    The Internet is full of spam. How will this site be any different?
                                </h5>
                                <h5 class="faq-answer">
                                    At Citizen Debate, we're cultivating a diverse and representative community of passionate citizens. We are firm believers in the wisdom of crowds, and have designed a revolutionary model of community self-governance based on <strong> reputation</strong>.
                                </h5>
                            </div>
                            <div class="post_img text-left">
                                <h5 id="reputation" class="faq-question"> <span class="faq-q">Q:</span>
                                    What are reputation points?
                                </h5>
                                <h5 class="faq-answer">
                                    Throughout your experience on Citizen Debate, you will have the opportunity to award reputation points to others for upholding the cultural values of the community. Likewise, the community will reward you for your own contributions.
                                </h5>
                                <a class="btn btn-large btn-default" href="/reputation">  Learn more</a>
                                <p class="faq-text">
                                </p>
                            </div>
                           <div class="post_img text-left">
                                <h5 id="civility" class="faq-question"> <span class="faq-q">Q:</span>
                                    How is civility defined and determined?
                                </h5>
                                <h5 class="faq-answer">
                                    We will rely on a combination of algorithmic and human intervention based methods to ensure the civility of the platform. For users contemplating whether or not a line of argument will be considered uncivil, we recommend the "grandma test". If you would be uncomfortable making the argument in front of your grandma, it is probably not appropriate. <br> <br>
                                    Additionally, we take considerable inspiration from Paul Graham of Y Combinator, and for readers seeking to better understand the ethos we are striving for, please have a quick read of Paul's essay on <a href="http://paulgraham.com/disagree.html"> How to disagree</a> from 2008.
                                </h5>
                                <p class="faq-text">
                                </p>
                            </div>
                            <div class="post_img text-left">
                                <h5 id="fairness"class="faq-question"> <span class="faq-q">Q:</span>
                                    How will the platform ensure fair and objective results?
                                </h5>
                                <h5 class="faq-answer">
                                    The inspiration for the voting method we have developed is drawn from the nonprofit organization, <a href="http://intelligencesquaredus.org/about">Intelligence Squared US</a>, which has been conducting high-quality in-person debates using this format for over ten years. <br> <br>
                                    Additionally, we will be closely monitoring the growth of the community during this early adopter period to ensure that there is no manipulation of the voting system.
                                </h5>
                            </div>
                            <div class="post_img text-left">
                                <h5 id="debate-logistics" class="faq-question"> <span class="faq-q">Q:</span>
                                    Can you tell me more about the debate logistics?
                                </h5>
                                <h5 class="faq-answer">
                                    Of course. Please also consider emailing us any feedback you have. We are actively developing the debate platform today, and as an early adopter, you can play a critical role in determining what features we prioritize. The current user experience flow will look like this:
                                </h5>
                                <p class="faq-text">
                                </p>
                            </div>
                        </div>
                        <div id="how-it-works"class="main_feature text-center">
                            <div class="col-md-3 col-xs-12 col-sm-6">
                                    <div class="feature_content steps-box">
                                        <!-- <i class="fa fa-lightbulb-o"></i> -->
                                        <h2>Step 1:<br>
                                        <span class="feature_steps"> Create your profile </span> </h2>
                                        <p>
                                        All public-facing elements of your profile (such as your avatar, bio, and location) must be complete. Your identity must also be verified prior to participating in a debate.
                                        </p>
                                    </div>
                                </div>
                            <div class="col-md-3 col-xs-12 col-sm-6">
                                    <div class="feature_content steps-box">
                                        <!-- <i class="fa fa-pencil"></i> -->
                                        <h2>Step 2:<br>
                                        <span class="feature_steps"> Initiate a new debate </span> </h2>
                                        <p>Select a debate topic, <b> choose your side (affirmative or negative)</b>, and then select an opponent you would like to challenge (either an existing user or a friend you'd like to invite to the platform). </p>
                                    </div>
                            </div> <!-- Col-md-4 Single_feature End -->
                            <div class="col-md-3 col-xs-12 col-sm-6">
                                    <div class="feature_content steps-box">
                                        <!-- <i class="fa fa-cog"></i> -->
                                        <h2>Step 3:<br>
                                        <span class="feature_steps"> Opponent accepts your challenge </span> </h2>
                                        <p>After receiving an email notification about your challenge, your opponent is able to accept the challenge, which the notifies you that your debate can now begin. Each side will then have 24 hours to enter their opening statements. </p>
                                    </div>
                            </div> <!-- Col-md-4 Single_feature End -->
                            <div class="col-md-3 col-xs-12 col-sm-6">
                                    <div class="feature_content steps-box">
                                        <!-- <i class="fa fa-desktop"></i> -->
                                        <h2>Step 4:<br>
                                        <span class="feature_steps"> Debate, then await the results </span> </h2>
                                        <p> Present your arguments to the best of your abilities. As soon as the debate is finished, all other Citizen Debate members will be able to vote on the outcome. The winner is determined based on the greater number of viewers who changed their mind toward your side of the argument.
                                        </p>
                                    </div>
                            </div> <!-- Col-md-4 Single_feature End -->
                            <!-- <button class="btn btn-main"> Read More</button> -->
                        </div>
                </div>  <!-- Row End -->
                </div>
            </div>
        </div>
        <!-- FAQS End -->
    </section>
