<!-- FAQs Start -->
    <section class="bg-light-gray section-buffer">
        <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="feature_header text-center">
                            <h1 class="faq-title">Frequently Asked <b> Questions</b></h1>
                            <h4 class="lead"> Can't find what you're looking for? Please simply send your question by email to <a href="mailto:citizen.debate.16@gmail.com" target="_blank"> citizen.debate.16@gmail.com </a> </h4>

                            <div class="post_img text-left">
                                <h5 class="faq-question"> <span class="faq-q">Q:</span>
                                    The Internet is full of spam. How will this site be any different?
                                </h5>
                                <h5 class="faq-answer"> <span class="faq-a">A:</span>
                                    At Citizen Debate, we're cultivating a diverse and representative community of passionate citizens. We are firm believers in the wisdom of crowds, and have designed a revolutionary model of community self-governance based on <strong> reputation</strong>.
                                </h5>
                            </div>
                            <div class="post_img text-left">
                                <h5 class="faq-question"> <span class="faq-q">Q:</span>
                                    What are reputation points?
                                </h5>
                                <h5 class="faq-answer"> <span class="faq-a">A:</span>
                                    Throughout your experience on Citizen Debate, you will have the opportunity to award reputation points to others for upholding the cultural values of the community. Likewise, the community will reward you for your own contributions.
                                </h5>
                                <a class="btn btn-large btn-default" href="/reputation">  Read more about reputation points</a>
                                <p class="faq-text">
                                </p>
                            </div>
                            <div class="post_img text-left">
                                <h5 class="faq-question"> <span class="faq-q">Q:</span>
                                    How will the platform ensure fair and objective judging?
                                </h5>
                                <h5 class="faq-answer"> <span class="faq-a">A:</span>
                                    First, the appointed judges will always consist of one liberal-leaning and one conservative-leaning judges, and they are required to make a unanimous decision. In order to be appointed as a judge, users must first demonstrate their commitment to the community by obtaining 20 reputation points, and then completing our thorough justice training program. Finally, we have instituted a checks and balances system to measure the consistency and objectivity of our judges, ensuring that they continue to uphold our community values of civility, democracy, and integrity.
                                </h5>
                                <h5 class="faq-answer">At the immediate conclusion of the debate, the judges will deliberate and forge a unanimous verdict. After the verdict, however, the next 30 days will be considered the public voting and commentary period. During that time, all registered users will be able to review the debate and vote for who they think deserved to win the debate. If a super majority of 75% or more <b> disagree </b> with the judges original ruling (minimum 20 votes), then the verdict will be overturned.
                                </h5>
                                <p class="faq-text">
                                </p>
                            </div>
                            <div class="post_img text-left">
                                <h5 class="faq-question"> <span class="faq-q">Q:</span>
                                    Can you tell me more about the debate logistics?
                                </h5>
                                <h5 class="faq-answer"> <span class="faq-a">A:</span>
                                    Of course. Please also consider emailing us any feedback you have. We are actively developing the debate platform today, and as an early adopter, you can play a critical role in determining what features we prioritize. The current user experience flow will look like this:
                                </h5>
                                <p class="faq-text">
                                </p>
                            </div>
                        </div>
                        <div class="main_feature text-center">
                            <div class="col-md-3 col-xs-12 col-sm-6">
                                    <div class="feature_content steps-box">
                                        <!-- <i class="fa fa-lightbulb-o"></i> -->
                                        <h2>Step 1:<br>
                                        <span class="feature_steps"> Create your profile </span> </h2>
                                        <p>
                                        All public-facing elements of your profile (such as your avatar, bio, and location) must be complete. Your identity must also be verified prior to participating in a debate.
                                        </p>
                                        <div class="btn-bottom">
                                            <button class="btn btn-main"><a class="how-button" href="/profile">  Set up your profile</a> </button>
                                        </div>
                                    </div>
                                </div>
                            <div class="col-md-3 col-xs-12 col-sm-6">
                                    <div class="feature_content steps-box">
                                        <!-- <i class="fa fa-pencil"></i> -->
                                        <h2>Step 2:<br>
                                        <span class="feature_steps"> Initiate a new debate </span> </h2>
                                        <p>Select a debate topic, <b> choose your side (affirmative or negative)</b>, and then propose three start-times you are available. </p>
                                        <div class="btn-bottom">
                                            <button class="btn btn-main" ><a class="how-button" href="#topics"> Browse Debate Topics </a> </button>
                                        </div>
                                    </div>
                            </div> <!-- Col-md-4 Single_feature End -->
                            <div class="col-md-3 col-xs-12 col-sm-6">
                                    <div class="feature_content steps-box">
                                        <!-- <i class="fa fa-cog"></i> -->
                                        <h2>Step 3:<br>
                                        <span class="feature_steps"> Match with an Opponent and Judges </span> </h2>
                                        <p>The matching system will invite qualified opponents and appoint 2 judges for your debate. The system will also coordinate the debate schedule logistics. As of April 2016, all debates will be held at 4pm PST. </p>
                                        <div class="btn-bottom">
                                            <button class="btn btn-main"> <a class="how-button" href="/format"> How Judging Works </a> </button>
                                        </div>
                                    </div>
                            </div> <!-- Col-md-4 Single_feature End -->
                            <div class="col-md-3 col-xs-12 col-sm-6">
                                    <div class="feature_content steps-box">
                                        <!-- <i class="fa fa-desktop"></i> -->
                                        <h2>Step 4:<br>
                                        <span class="feature_steps"> Debate! </span> </h2>
                                        <p>Present your arguments to the best of your abilities. At the conclusion, the judges will announce the winner, and both participants will assess the civility of their opponent.</p>
                                        <div class="btn-bottom">
                                            <button class="btn btn-main"> <a class="how-button" href="#faqs"> How reputation works </a> </button>
                                        </div>
                                    </div>
                            </div> <!-- Col-md-4 Single_feature End -->
                            <!-- <button class="btn btn-main"> Read More</button> -->
                        </div>
                </div>  <!-- Row End -->
                </div>
            </div>
        </div>
        <!-- FAQS End -->
    </section>
