<section class="bg-light-gray section-buffer">
        <div class="container">
          <div class="row div-outline-debug">
            <div class="col-lg-5 col-sm-4 vh80 div-outline-debug">
              <h4 class="section-sub-heading border-green text-left">
                REPUTATION SYSTEM
              </h4 class="text-left">
              <h2 class="section-headline text-left">
                Recognize contributions to the community.
              </h2>
              <ul class="font-medium text-left">
                <li>Debate winners earn <b>5 points</b>.</li>
                <li>Win or lose, debaters earn <b>up to 5 points</b> for civility.</li>
                <li>Earn <b>3 points</b> for serving as a judge.</li>
              </ul>
              <p class="reputaion-emphasis">Most importantly, earn points for persuading your fellow citizens: </p>
              <ul class="font-medium text-left">
                <li>Each citizen can award <b>up to 10 points</b> to effective debaters.</li>
              </ul>
              <div class="link-more text-left">
                <a class="btn btn-default" href="/FAQs">More info in FAQs <svg class="icon-arrow-more"
                enable-background="new 0 0 32 32" height="14px" version="1.1" viewbox="0 0 32 32"
                width="14px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
                <path d=
                "M16,0C7.2,0,0,7.2,0,16s7.2,16,16,16c8.8,0,16-7.2,16-16S24.8,0,16,0 M16,25.7L14.3,24l6.8-6.8H7v-2.4h14.1L14.3,8L16,6.3 l9.7,9.7L16,25.7z">
                </path></svg></a>
              </div>
            </div>
            <div class="col-lg-6 col-lg-offset-1 vh80 div-outline-debug">
              <div class="in-control-tablet">
                <img class="img img-right-panel" src="https://s3-us-west-2.amazonaws.com/citizen-debate/static_images/CD-reptuation.png">
              </div>
            </div>
          </div>
        </div>
      </section>
