<section class="bg-light-gray section-buffer">
        <div class="container">
          <div class="row div-outline-debug">
            <div class="col-lg-6 col-sm-4 lead">
              <h4 class="section-sub-heading border-green text-left">
                REPUTATION POINTS SYSTEM
              </h4 class="text-left">
              <h3 class="section-sub-heading text-left">
                The more you engage responsibly with the community, the more influence and exposure you gain.
              </h3>
              <ul class="text-left">
                <li>Debaters earn <b> one point </b> for every reader whom they persuade to change their vote.</li>
                <li>Each competitor also earns <b>up to 5 points</b> per debate for their civility.</li>
                <li>During the early adopter program, reputation points will be used to determine debater eligibility.</li>
              </ul>
              <h3 class="section-sub-heading text-left">Most importantly, citizens can reward top debaters with a <b>"patriotism pledge"</b> to qualified debaters who've earned their support in at least 3 previous debates.  </h3>
              <ul class="text-left">
                <li>Each patriotism pledge is worth <b>100 points</b>.</li>
              </ul>
            </div>
            <div class="col-lg-5 col-lg-offset-1 div-outline-debug">
              <div class="in-control-tablet">
                <img class="img img-responsive" src="https://s3-us-west-2.amazonaws.com/citizen-debate/static_images/CD-reptuation.png">
              </div>
            </div>
          </div>
        </div>
</section>
