// Place all the styles related to the Debates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.highlight-current-user{
  background-color: rgba(66, 133, 244, .2);
  font-style: bold;
}
.highlight-opponent{
 }
.debate-container{
    width: 100vw;
    max-width: 1600px;
    margin: auto;
    position: relative;
    margin-top: 80px;
    padding-right: 10vw !important;
    padding-left: 10vw !important;
}
.debugging{
  background-color: yellow;
  color:red;
}
