// Place all the styles related to the Debates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.affirmative-opening, .negative-opening, .affirmative-closing, .negative-closing{
  border-bottom: 2px dotted #4285F4;
  padding-bottom: 30px;
}
.highlight-current-user{
  background-color: rgba(66, 133, 244, .2);
  font-style: bold;
}
.highlight-opponent{
 }
.debugging{
  background-color: rgba(234, 67, 53, .3);
  color:red;
}
.center{
  text-align: center;
}
.debate-container{
    width: 90vw;
    max-width: 1600px;
    /*min-height: 80vh;*/
    margin: auto;
    margin-top: 50px;
   /* padding-right: 5vw !important;
    padding-left: 5vw !important;*/
}
.debate-details{
  min-height: 10vh;
  clear: both;
}
.row{
  height:auto !important;
  min-height: 20vh;
}
.round2{
}
.form-control{
  /*min-height: 10vh !important;*/
}
.opening-round{
  min-height: 20vh;
  padding-left: 5vw;
  background-color: rgb(247, 247, 249);
  border-top: 4px solid #4285F4;
}
.middle-round{
  background-color: #fff;
  min-height: 20vh;
  border-top: 4px solid #4285F4;

}
.closing-round{
  min-height: 20vh;
  padding-left: 5vw;
  border-top: 4px solid #4285F4;
  background-color: rgb(247, 247, 249);
}
.cross-ex-messages{
  padding-left: 100px;
}
.voting-options{
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}
.voting-buttons{
  height:60px;
  margin-bottom: 15px;
}
.voting-container{
  min-height: 10vh;
  background-color: rgba(66, 133, 244, .3);
  clear: both;
  display:block;
  position: relative;
  border: 1px solid gray;
  padding: 2px 2px 2px 2px;
}
.debate-recap-container{
  /*min-height: 10vh;*/
  /*background-color: rgba(154, 156, 159, .31);*/
  clear: both;
  display:block;
  position: relative;
}
.debate-list-header{
  margin-top: 20px;
}
.img-debate-details{
  height: 70px;
}
.live-debate-container{
    width: 90vw;
    margin: auto;
    position: relative;
    clear:both;
}
.statements{
  max-width: 90vw;
}
.media-body {
  max-width: 85vw;
}
.media-body p span  {
  font-size: 1.8em !important;
  font-weight: 400;
  line-height: 28px;
  word-wrap: break-word;
}
.media-body p img {
    max-width: 85vw;
    height: auto !important;
}
.liberal-side{
  /*border-right: 2px dotted gray;*/
  background-color: rgba(66, 133, 244, .3);
  margin-bottom: 10px
}
.conservative-side{
  background-color: rgba(234, 67, 53, .3);
  margin-bottom: 10px
}
.resolved{
  font-size: 0.8em;
  text-decoration: underline;
}
.modal-content {
  max-width: 100vw;
}
.results-container{
  min-height: 30vh;
  background-color: #fff;
  /*background-color: rgba(66, 133, 244, 0.3);*/
  clear: both;
  display:block;
  position: relative;
  border: none;
  padding: 2px 2px 2px 2px;
}
.winner{
    background-color: rgba(66, 133, 244, 0.3);
    border: 2px solid blue;
    margin-bottom: 5vh;
}
.summary{
}
.social-prompt{
  border-bottom: 4px solid #4285F4;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
h3.results-cta, h3.results-minds-changed{
  margin-top: 10px;
  margin-bottom:10px;
}
.highlight-box{
  background-color: rgba(66, 133, 244, .3) !important;
}
.hint{
  font-size: 12px;
  top: -53px;
  position: relative;
  padding-left: 10px;
}
.btn-notify-opponent{
      font-size: smaller !important;
}

.results-table{
  padding: 5 5 5 5px;
  background-color: #f7f7f9
}
.results-table tr{
  padding-top: 10px;
  padding-bottom: 10px;
}
.results-table tbody tr td, .results-table thead tr th {
    padding-left: 10px;
    padding-right: 10px;
}
.results-table thead {
  font-size: 1.1em;
  border: none;
}
.highlight-winner{
  background-color: rgba(68,157,68,0.3);
  font-style: bold;
  font-size: 1.5em;
}
.highlight-winner-details{
  background-color: rgba(68,157,68,0.3);
  font-size: 1.4em;
  color: #34A853;
  border: 1px solid #34A853;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}
.align-right{
  text-align: right;
}
.left-border{
  border-left: 2px solid gray;
}
.bottom-border{
    border-bottom: 1px solid gray;
}
.new-resolution-field{
  width: 80%;
}
.panel-body{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.inline-block{
  display: inline-block;
}
.fl-r{
  float: right !important;
}
.well{
  padding-bottom: 60px !important;
}
.opponent-status{
  min-height: 5px;
  padding-bottom:5px;
}
.example-argument{
  font-style: italic;
  color: gray;
  padding-left:10px;
}
.hero-image{
  /*height: 30vh;*/
  min-height: 30vh;
  padding-bottom: 10px;
}



@media screen and (max-width:767px) {
  .col-sm-hidden{
    display:none !important;
  }
  .debate-list-header{
    font-size: 1.2em;
  }
  .voting-container{
  min-height: 60vh;
  }
}
