// Place all the styles related to the Debates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.affirmative-opening, .negative-opening, .affirmative-closing, .negative-closing{
  border-bottom: 2px dotted gray;
  padding-bottom: 30px;
}
.highlight-current-user{
  background-color: rgba(66, 133, 244, .2);
  font-style: bold;
}
.highlight-opponent{
 }
.debugging{
  background-color: rgba(234, 67, 53, .3);
  color:red;
}
.center{
  text-align: center;
}
.debate-container{
    width: 100vw;
    max-width: 1600px;
    /*min-height: 80vh;*/
    margin: auto;
    margin-top: 50px;
    padding-right: 10vw !important;
    padding-left: 10vw !important;
}
.debate-details{
  min-height: 10vh;
  clear: both;
}
.row{
  height:auto !important;
  min-height: 20vh;
}
.round2{
  max-width:1000px;
}
.form-control{
  /*min-height: 10vh !important;*/
}
.opening-round{
  min-height: 20vh;
  background-color: rgb(247, 247, 249);
  border-top: 4px solid #4285F4;
}
.middle-round{
  background-color: #fff;
  min-height: 20vh;
  border-top: 4px solid #4285F4;

}
.closing-round{
  min-height: 20vh;
  border-top: 4px solid #4285F4;
  background-color: rgb(247, 247, 249);
}
.cross-ex-messages{
  padding-left: 100px;
}
.voting-options{
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}
.voting-container{
  min-height: 10vh;
  background-color: rgba(66, 133, 244, .3);
  clear: both;
  display:block;
  position: relative;
  border: 1px solid gray;
  padding: 2px 2px 2px 2px;
}
.debate-recap-container{
  /*min-height: 10vh;*/
  /*background-color: rgba(154, 156, 159, .31);*/
  clear: both;
  display:block;
  position: relative;
}
.debate-list-header{
  margin-top: 20px;
}
.img-debate-details{
  height: 70px;
}
.live-debate-container{
    width: 90vw;
    max-width: 1600px;
    margin: auto;
    position: relative;
    clear:both;
}
.media-body {
  max-width: 85vw;
}
.media-body p span  {
  font-size: 1.8em !important;
  font-weight: 400;
  line-height: 28px;
  word-wrap: break-word;
}
.media-body p img {
    max-width: 85vw;
    height: auto !important;
}
.affirmative-details{
  border-right: 2px dotted gray;
}
.resolved{
  font-size: 0.8em;
  text-decoration: underline;
}
.modal-content {
  max-width: 70vw;
}
.results-container{
  min-height: 30vh;
  background-color: #fff;
  /*background-color: rgba(66, 133, 244, 0.3);*/
  clear: both;
  display:block;
  position: relative;
  border: none;
  padding: 2px 2px 2px 2px;
}
.winner{
    background-color: rgba(66, 133, 244, 0.3);
    border: 2px solid blue;
    margin-bottom: 5vh;
}
.summary{
}
.social-prompt{
}
h3.results-cta, h3.results-minds-changed{
  margin-top: 2px;
  margin-bottom:2px;
}
