// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-container{
  width: 100vw;
  max-width: 1600px;
  min-height: 80vh;
  margin: auto;
  top:20px;
  position: relative;
  margin-top: 80px;
  padding-right: 10vw !important;
  padding-left: 10vw !important;
  font-color: #000;
}

.img-avatar{
  width:100%;
  height: auto;
  position: relative;
  left: -15px;
  padding-bottom: 20px;
}
.no-right-padding{
  padding-right: 0px !important;
}
.publicly-visible{
  border: 1px solid gray;
  background-color: rgba(68,157,68,0.1);
  /*background-color: #449D44;*/
}
.publicly-visible-warning{
  font-style: italic;
  font-size: 0.8em;
}

.privately-visible{
  border: 1px solid gray;
  background-color: rgba(240,173,78,0.1);
}
.waitlist-table{
  padding: 5 5 5 5px;
  border: 1px solid gray;
}
.waitlist-table tbody tr td, .waitlist-table thead tr th {
    padding-left: 20px;
}
.waitlist-table thead {
  font-size: 1.3em;
  border: 1px solid gray;
  background-color: rgba(0,60,128,0.3);
}
.highlight{
  background-color: rgba(68,157,68,0.3);
  font-style: bold;
}
.profile-activity{
  margin-top: 20px;
  border: 1px solid gray;
  padding: 20px 20px 20px 20px;
  position: relative;
  background-color: rgba(0,60,128,0.3);
}
.edit-btn{
  padding-bottom:10px;
}
