// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topic-link:visited {
  color: #337ab7;
}

.topic-vote-button, .topic-vote-button:visited {
  color: #337ab7;
  font-size: 1.5em;
}
