// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.nav-buffer{
    height:50px;
    width:100%;
}
.lead {
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    line-height: 1.6;
}
.lead ul li {
    text-align: left;
    line-height: 1.4;
}

.intro-header {
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url("https://s3-us-west-2.amazonaws.com/citizen-debate/static_images/obama-romney-blurred.jpeg") no-repeat center center;
    background-size: cover;
}
.intro-container{
    position: relative;
    padding-top: 5px;
    color:#fff;
}
.intro-message {
    font-size: 5em;
}
.intro-tagline{
    font-size: 2em;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 0%;
    }
    .bottom-cta{
    margin-left: 15vw;
    width: 60vw;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 20px 0;
}

.content-section-b {
    padding: 20px 0;
}

.section-heading {
    margin-bottom: 30px;
    font-size: 2.5em;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 0px;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}
/* PRicing TAble Features
================================== */
.pricing_overlay {
    position: relative;
}

.pricing_overlay:before {
    content: "";
    background: rgba(0,0,0,.1);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

#pricing_table {
    background: url("../images/bg/1.jpg")fixed center center;
    background-size: cover;
}

.dark_bg {
    position: relative;
}

.plan {
    font-weight: 700!important;
}

.price {
    font-weight: 500!important;
}

.single_table {
    background: #FFFFFF;
    float: left;
    -webkit-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    width: 90%;
    left: 10%;
    /*right: 5%;*/
    position: relative;
}
@media(min-width:300px) {

.single_table {
    background: #FFFFFF;
    float: left;
    -webkit-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    width: 300px;
    left: -70px;
    margin: 50px auto;
    position: relative;
}

}

@media(min-width:900px) {

.single_table {
   background: #FFFFFF;
    float: left;
    -webkit-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
    width: 372px;
    margin: 50px auto;
    position: relative;
}

}

.single_table ul li {
    padding: 15px 30px;
    border-bottom: 1px solid #e6e6e6;
    color: #434343;
    font-size: 18px;
}

.single_table ul li:first-child,
.single_table ul li:last-child {
    border-bottom: 0px;
}

.single_table ul li.plan {
    color: #006caf;
    font-size: 25px;
    padding: 25px 0px;
}

.single_table ul li.plan span {
    font-size: 14px;
}

.single_table ul li.price {
    font-size: 50px;
    font-family: "Raleway";
    padding: 35px 0px;
}

.single_table ul li.price span {
    font-size: 30px;
}

.single_table ul li.price_button .btn-default {
    background: #444444;
    border-radius: 0px;
    color: #fff;
    padding: 10px 18px;
}

/* Grey Bg */
.grey_bg {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 2;
}

.grey_bg ul li.plan {
    padding: 45px 0px !important;
}

.grey_bg .btn-slide {
    color: #fff;
}

/* Black Bg */
.dark_bg ul li.plan {
    color: #006caf;
    font-size: 2em;
    padding: 25px 0px;
}
/*.dark_bg ul li.price {
    color: #434343;
}
.dark_bg ul li.price_button {
    background: #F6F6F6;
}
.dark_bg ul li.price_button .btn-default {
    background: #434343;
}*/
.single_table ul li.plan {
    font-size: 2em;
    color: #006caf;
    position: relative;
    z-index: 1;
}

.single_table .plan_wrapper {
    /*background: none repeat scroll 0 0 #434343;*/
    content: "";
    height: 70px;
    left: 40%;
    position: absolute;
    top: 40px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 70px;
    z-index: 1;
    overflow: hidden;
}

.grey_bg .plan_wrapper {
    content: "";
    height: 70px;
    left: 40%;
    position: absolute;
    top: 75px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 70px;
    z-index: 1;
    overflow: hidden;
}

.dark_bg .plan_wrapper {
    /*background:  #434343!important;*/
    content: "";
    height: 70px;
    left: 41%;
    top: 38px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 70px;
    z-index: 1;
    overflow: hidden;
    position: absolute;
}

.single_table ul {
    list-style: none !important;
}

.price_button .btn-main {
    margin: 0px!important;
}
/*END Bootstrap Modern Business - Pricing formatting */

/*BEGIN CSS from Full Page Scroll */
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700);



/* ICON STYLES - ICON FROM: http://fontastic.me/
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
  font-family: "untitled-font-1";
  src:url("../fonts/untitled-font-1.eot");
  src:url("../fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("../fonts/untitled-font-1.woff") format("woff"),
    url("../fonts/untitled-font-1.ttf") format("truetype"),
    url("../fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:after,
[class*=" icon-"]:after {
  font-family: "untitled-font-1";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up-open-big:after {
  content: "a";
  font-size: 2.5em;
  display: block;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  color: white;
  -webkit-transition: color .3s;
          transition: color .3s;
}

.icon-up-open-big:hover:after {
    color: white;
}

.scroll-icon {
    position: relative;
    left: 50%;
  bottom: 30px;
  padding: 0 10px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}



/* HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.l-left {
    float: left;
}

.l-right {
    float: right;
}

.end {
    margin-top: 30px;
    font-size: 3em;
    font-weight: bold;
    opacity: 0;
    -webkit-transform: translateY(300px);
        -ms-transform: translateY(300px);
            transform: translateY(300px);
    -webkit-transition: opacity, -webkit-transform 1s;
            transition: opacity, transform 1s;
    -webkit-transition-delay: 1s;
            transition-delay: 1s;
}


/* SECTION STYLES - fullPage.js
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section {
    text-align: center;
    /*color: white !important;*/
  /*background: url('https://unsplash.it/1910/1221?image=626') no-repeat center / cover;*/
}

h2 {
    font-size: 4em;
    margin-bottom: 20px;
}

h3 {
    font-weight: 300;
    font-size: 2.8em;
}



/* SLIDENAV STYLES - fullPage.js
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #4285F4 !important;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: transparent;
    box-sizing: border-box;
    border: 1px solid #24221F;
}



/* MQ STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 767px) {
    nav ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    nav li {
        margin-top: 1px;
    }

  nav li a {
    font-size: 1.5em;
  }

  .scroll-icon {
    display: none;
  }
}

/*MOBILE ADJUSTMENTS FOR WELCOME PAGES*/
@media screen and (max-width: 450px) {
  html {
    font-size: 40%;
  }

  h2 {
    margin-top: 0px !important;
  }
  .content-section-a, .content-section-b{
    height:95vh;
    top: 50px;
    position: relative;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .section-heading{
    font-size: 1.6em;
    margin-bottom: 0px;
  }
  .lead ul li {
    font-weight: 200;
    text-align: left;
    line-height: 1.3;
}
  .img-responsive{
    height: 30vh !important;
    width: auto;
    margin: auto;
  }
  h4.section-sub-heading{
    margin-bottom: 0px;
    padding-bottom: 5px;
  }
  .font-medium{
    font-size: 1.2em;
    line-height: 1.2;
  }
  h3.section-sub-heading {
    font-size: 1.4em;
}
  .vh80{
    height:auto;
    /*nullify height setting cuz wonky with fullpage js*/
  }

  .open-menu ~ nav {
        padding: 20px 0;
    }

    nav li a {
        padding: 3px;
    }
}

/*BEGIN BRIAN's CUSTOM CSS*/
a:visited {
    color: normal;
}
a:hover {
    background-color: white;
}
a.btn{
    color:#46629E;
    font-size: 1.3em;
}
a.btn-success{
    color: #fff;
}
.inline-link{
    font-weight: bold;
    color:#34A853 !important;
}
.slide-text-content{
    font-size: 1.2em;
    text-align: left;
    top: 0vh;
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 1.4;
}
.rank {
    color: #449d44;
    font-weight: bold;
}
.citations {
    position: relative;
    bottom:0px;
    padding-bottom: 50px;
    font-size:12px;
    color: gray;
    text-align: left;
}
.citations p {
    color: gray;
    line-height: 1;
    font-size: 0.9em;
}
.citations p a, .citations p a:visited {
    color: gray;
}
.vertical-middle{
    margin-top:10vh;
}
.text-smaller {
    font-size: 0.8em;
}
.carousel-inner{
    height:150px;
}
.example-prompt-container{
    border: 1px solid gray;
    /*background-color: rgba(240,173,78,1);*/
    background-color: rgba(234, 67, 53,1);
    width:100%;
}
.example-prompts{
    color: #fff !important;
    font-style: italic;
}
.img-top-padding{
    padding-top:50px;
}
.mac-frame {
  z-index: 2;
  width:417px;
  height:auto;
  float:left;
}
.behind-frame{
  top: 16px;
  left: 30px;
  width: 390px;
  z-index: 1;
  position: absolute;
}
/*.debate-topics-slider{
  width:417px;
  height:auto;
  float:left;
}*/
.ipad-frame{
  top: 16px;
  left: 30px;
  width: 480px;
  z-index: 0;
  position: absolute;
}
.carousel-inner{
    z-index: 10;
    top:100px;
    left: 80px;
    max-width:350px;
    height: 300px;
}
#activityCarousel .carousel-inner .item span{
    color: black !important;
}
.civility-quote, .civility-quote a{
    background-color: rgba(66, 133, 244, 1);
    color: #fff;
    /*max-width: 50vw;*/
}
.featured-debate-container{
    background-color: #fff;
/*    min-height: 300px;
*/    padding-left: 10px;
    padding-top: 5px;
    border: 1px solid gray;
}
.space-holder{
    min-height: 10px;
    clear:both;
}
.featured-debate-container h1, .featured-debate-container h2, .featured-debate-container h3 {
    color:#4285F4;
}

.featured-debate-container h4,{
    color: #000;
}
.civility-quote h3 {
    text-align: left;
    min-height: 140px;
}
.avatar-nav{
    height:40px;
    margin-top:5px;
}
.btn-fb{
    background-color: #46629E !important;
    color: #fff !important;
}
.btn-twitter{
    background-color: #1b95e0 !important;
    color: #fff !important;
}
